body, html {
    background-image: url("/assets/images/wrong_password.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

